<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body class="bg-black text-white flex min-h-screen max-w-7xl mx-auto">

    <!-- Left Sidebar with icons-->
    <section class="hidden md:block w-[88px] lg:w-[275px] min-h-screen px-2 border-r border-gray-800 sticky top-0">
        <div class="flex flex-col items-start h-full space-y-2 py-4">
            
            <!---Twitter logo -->
            <div class="p-3 hover:bg-gray-900 rounded-full cursor-pointer mx-auto lg:mx-0">
                <img src="{{asset('icons/Twitter.svg')}}" class="w-6 lg:w-10" alt="">
            </div>

            <!-- Navbar -->
             <nav class="space-y-1 w-full mt-2">
                <a href="#" class="flex justify-center lg:justify-start items-center space-x-4 p-3 hover:bg-gray-900 rounded-full">
                    <img src="{{asset('icons/Home-Fill.svg')}}" alt="">
                    <span class="text-xl">Home</span>
                </a>
                <a href="" class="flex items-center space-x-4 p-3 hover:bg-gray-900 rounded-full justify-center lg:justify-start">
                    <img src="{{asset('icons/Fill.svg')}}" alt="">
                    <span class="capitalize">explore</span>

                </a>
                <a href="" class="flex items-center space-x-4 p-3 hover:bg-gray-900 rounded-full justify-center lg:justify-start ">
                    <img src="{{asset('icons/Notifications-Fill.svg')}}" alt="">
                    <span class="capitalize">notifications</span>

                </a>
                <a href="" class="flex items-center space-x-4 p-3 hover:bg-gray-900 rounded-full justify-center lg:justify-start ">
                    <img src="{{asset('icons/Messages-Fill.svg')}}" alt="">
                    <span class="capitalize">message</span>

                </a>
                <a href="" class="flex items-center space-x-4 p-3 hover:bg-gray-900 rounded-full justify-center lg:justify-start ">
                    <img src="{{asset('icons/Bookmarks-Fill.svg')}}" alt="">
                    <span class="capitalize">bookmarks</span>

                </a>
                <a href="" class="flex items-center space-x-4 p-3 hover:bg-gray-900 rounded-full justify-center lg:justify-start ">
                    <img src="{{asset('icons/Lists-Fill.svg')}}" alt="">
                    <span class="capitalize">lists</span>

                </a>
                <a href="" class="flex items-center space-x-4 p-3 hover:bg-gray-900 rounded-full justify-center lg:justify-start ">
                    <img src="{{asset('icons/Profile-Fill.svg')}}" alt="">
                    <span class="capitalize">profile</span>

                </a>
                <a href="" class="flex items-center space-x-4 p-3 hover:bg-gray-900 rounded-full justify-center lg:justify-start">
                    <img src="{{asset('icons/More.svg')}}" alt="">
                    <span class="capitalize">more</span>

                </a>
                
            </nav>

            <button class="w-1/2 bg-blue-500 text-white font-bold py-4 rounded-full mt-4 capitalize">
                tweet
            </button>

            {{--  profile   --}}
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-3">
                <img src="{{asset('image/profile0.png')}}" alt="CNN logo">
                    <div>
                       <div class="flex items-center gap-[3px]">
                        <p class="text-sm">Bradley Ortiz</p>
                        <img src="{{ asset('icons/Private.svg')}}" class="w-5 h-5" alt="cnn logo">
                       </div>
                        <p class="text-gray-500 text-sm">@bradley_</p>
                    </div>
                </div>
                <i class="bi bi-three-dots"></i>
            </div>
        </div>
    </section>

    
    <section class="flex-1 border-x border-gray-800">
        <header class="sticky top-0 bg-black/80 backdrop-blur-md border-b border-gray-800 p-4 flex justify-between">
            <h1 class="text-xl font-bold">Home</h1>
            <img src="{{asset('icons/Timeline-Prop.svg')}}" alt="">
        </header>

        <div class="flex space-x-3 px-4 pt-4  border-b border-gray-800">
            <div class="flex-shrink-0 w-12 h-12 rounded-full overflow-hidden">
                <img src="{{asset('image/profile0.png')}}" alt="User profile" class="w-full h-full object-cover">
            </div>
            <div class="flex-1">
                <div class="mb-4">
                    
                    <textarea 
                        name="tweet" 
                        id="" 
                        placeholder="What's happening?"
                        class="w-full bg-transparent text-white text-xl outline-none placeholder-gray-500"
                    >

                    </textarea>
                </div>
                <div class="flex items-center justify-between pt-2">
                    <div class="flex pb-2">
                        <button class=" hover:bg-blue-900/20 rounded-full">
                            <img src="{{asset('icons/Top-Tweets.svg')}}" alt="Media" class="">
                        </button>
                        <button class=" hover:bg-blue-900/20 rounded-full">
                            <img src="{{asset('icons/gif.svg')}}" alt="GIF" class="">
                        </button>
                        <button class=" hover:bg-blue-900/20 rounded-full">
                            <img src="{{asset('icons/poll.svg')}}" alt="Poll" class="">
                        </button>
                        <button class=" hover:bg-blue-900/20 rounded-full">
                            <img src="{{asset('icons/emoji.svg')}}" alt="Emoji" class="">
                        </button>
                        <button class=" hover:bg-blue-900/20 rounded-full">
                            <img src="{{asset('icons/schedule.svg')}}" alt="Schedule" class="">
                        </button>
                    </div>
                    
                    <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-full px-4 py-1.5 text-sm capitalize mb-[3px] ">
                        Tweet
                    </button>
                </div>
            </div>
        </div>

        <div class="py-4 px-4 hover:bg-gray-900 cursor-pointer border-b border-gray-800 transition-colors duration-200">
            <div class="flex space-x-3">
                <div class="flex-shrink-0 w-12 h-12 rounded-full ">
                    <img src="{{asset('image/cnn.png')}}" alt="CNN profile" class="w-full h-full object-cover">
                </div>
                
                <div class="flex-1 min-w-0">
                    <div class="flex items-center space-x-1.5">
                        <span class="font-bold text-white truncate">CNN</span>
                        <img src="{{ asset('icons/Verified.svg')}}" alt="Verified" class="w-4 h-4">
                        <span class="text-gray-500 truncate">@CNN .</span>
                        <span class="text-gray-500">7m</span>
                    </div>
                    <p class="mt-1 text-white text-base leading-snug">
                        President Joe Biden touted a new agreement reached with the European Union to ease Trump-era tariffs on aluminum and steel as a "major breakthrough" that would serve to both strengthen the US steel industry and combat the global climate crisis.
                    </p>
        
                    <div class="flex items-center justify-between mt-3 text-gray-500 max-w-lg">
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                                <img src="{{asset('icons/Reply.svg')}}" alt="Reply" class="w-5 h-5">
                            </div>
                            <span class="text-xs">57</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-green-900/20 group-hover:text-green-500">
                                <img src="{{asset('icons/Retweet.svg')}}" alt="Retweet" class="w-5 h-5">
                            </div>
                            <span class="text-xs">144</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-red-900/20 group-hover:text-red-500">
                                <img src="{{asset('icons/React.svg')}}" alt="Like" class="w-5 h-5">
                            </div>
                            <span class="text-xs">184</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                                <img src="{{asset('icons/Share.svg')}}" alt="Share" class="w-5 h-5">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-4 hover:bg-gray-900 cursor-pointer border-b border-gray-800">
            <div class="flex space-x-4">
                <div class="w-12 h-12">
                    <img src="{{asset('image/nyt.png')}}" alt="">
                </div>
                
                <div class="flex-1 items-center">
                    <div class="flex items-center space-x-2">
                        <span class="font-bold">The New York Times</span>
                        <img src="{{ asset('icons/Verified.svg')}}" alt="cnn logo">
                        <span class="text-gray-500">@nytimes .</span>
                        <span class="text-gray-500"> 2h</span>
                    </div>

                    <p class="mt-2">
                        Gardening boomed during the pandemic. Six Black writers share how it has helped them re-establish, and reimagine, a connection to cultivation and the land
                    </p>
        
                    <div class="mt-3 rounded-3xl overflow-hidden border border-gray-800">
                        <img src="{{asset('image/leaf.png')}}" alt="News image" class="w-full h-auto rounded-3xl">
                    </div>

                    <div class="flex items-center justify-between mt-3 text-gray-500 max-w-lg">
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-lg group-hover:bg-blue-900/20 group-hover:text-blue-500">
                                <img src="{{asset('icons/Reply.svg')}}" alt="Reply" class="w-5 h-5">
                            </div>
                            <span class="text-xs">19</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-green-900/20 group-hover:text-green-500">
                                <img src="{{asset('icons/Retweet.svg')}}" alt="Retweet" class="w-5 h-5">
                            </div>
                            <span class="text-xs">48</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-red-900/20 group-hover:text-red-500">
                                <img src="{{asset('icons/React.svg')}}" alt="Like" class="w-5 h-5">
                            </div>
                            <span class="text-xs">482</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                                <img src="{{asset('icons/Share.svg')}}" alt="Share" class="w-5 h-5">
                            </div>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
        
        {{--  Twitter first post  --}}
        <div class="p-4 hover:bg-gray-900 cursor-pointer border-b border-gray-800">
            <div class="flex space-x-4">
                <div class="w-12 h-12">
                    <img src="{{asset('image/twitter-logo.png')}}" alt="">
                </div>
                
                <div class="flex-1 items-center">
                    <div class="flex items-center space-x-2">
                        <span class="font-bold">Twitter</span>
                        <img src="{{ asset('icons/Verified.svg')}}" alt="cnn logo">
                        <span class="text-gray-500">@Twitter .</span>
                        <span class="text-gray-500"> Oct 4</span>
                    </div>

                    <p class="mt-2">
                        <span class="uppercase">
                            big news
                        </span>
                        lol jk still Twitter
                    </p>

                    <div class="flex items-center justify-between mt-3 text-gray-500 max-w-lg">
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-lg group-hover:bg-blue-900/20 group-hover:text-blue-500">
                                <img src="{{asset('icons/Reply.svg')}}" alt="Reply" class="w-5 h-5">
                            </div>
                            <span class="text-xs">19</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-green-900/20 group-hover:text-green-500">
                                <img src="{{asset('icons/Retweet.svg')}}" alt="Retweet" class="w-5 h-5">
                            </div>
                            <span class="text-xs">48</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-red-900/20 group-hover:text-red-500">
                                <img src="{{asset('icons/React.svg')}}" alt="Like" class="w-5 h-5">
                            </div>
                            <span class="text-xs">482</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                                <img src="{{asset('icons/Share.svg')}}" alt="Share" class="w-5 h-5">
                            </div>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>

        {{--  Twitter second post  --}}
        <div class="p-4 hover:bg-gray-900 cursor-pointer border-b border-gray-800">
            <div class="flex space-x-4">
                <div class="w-12 h-12">
                    <img src="{{asset('image/twitter-logo.png')}}" alt="">
                </div>
                
                <div class="flex-1 items-center">
                    <div class="flex items-center space-x-2">
                        <span class="font-bold">Twitter</span>
                        <img src="{{ asset('icons/Verified.svg')}}" alt="cnn logo">
                        <span class="text-gray-500">@Twitter .</span>
                        <span class="text-gray-500"> Oct 29</span>
                    </div>

                    <p class="mt-2">
                        Hello literally everyone
                    </p>

                    <div class="flex items-center justify-between mt-3 text-gray-500 max-w-lg">
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-lg group-hover:bg-blue-900/20 group-hover:text-blue-500">
                                <img src="{{asset('icons/Reply.svg')}}" alt="Reply" class="w-5 h-5">
                            </div>
                            <span class="text-xs">19</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-green-900/20 group-hover:text-green-500">
                                <img src="{{asset('icons/Retweet.svg')}}" alt="Retweet" class="w-5 h-5">
                            </div>
                            <span class="text-xs">48</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-red-900/20 group-hover:text-red-500">
                                <img src="{{asset('icons/React.svg')}}" alt="Like" class="w-5 h-5">
                            </div>
                            <span class="text-xs">482</span>
                        </button>
                        <button class="flex items-center space-x-1 group">
                            <div class="p-2 rounded-full group-hover:bg-blue-900/20 group-hover:text-blue-500">
                                <img src="{{asset('icons/Share.svg')}}" alt="Share" class="w-5 h-5">
                            </div>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>



    <!-- Right Sidebar -->
    <section class="w-[370px] min-h-screen p-4 border-l border-gray-800 sticky top-0">
        <div class="mb-4 relative">
            <div class="relative">
                
                <div class="absolute inset-y-0 left-0 pl-4 flex items-center">
                    <img src="{{asset('icons/Search.svg')}}" class="w-5 h-5" alt="Search icon">
                </div>
                
                <input 
                    type="text" 
                    placeholder="Search Twitter" 
                    class="w-full bg-[rgb(32,35,39)] rounded-full pl-12 pr-5 py-3 text-white placeholder-gray-500"
                >
            </div>
        </div>

        <div class="bg-[rgb(32,35,39)] rounded-2xl mb-6">
            <div class="flex justify-between p-4">
                <h2 class=" text-xl font-bold">Trends for you</h2>
            <img src="{{asset('icons/Settings.svg')}}" class="cursor-pointer pr-4" alt="Setting icon">
            </div>
            <div class="space-y-4">
                <div class="px-4 hover:bg-gray-800 pointer-cursor flex justify-between">
                    <div class="space-y-[1px]">
                        <div class="text-sm text-gray-500">Trending in Turkey</div>
                        <div class="font-bold uppercase">#squid</div>
                        <div class="text-sm text-gray-500">2,066 Tweets</div>
                    </div>
                    <i class="bi bi-three-dots text-xl"></i>
                </div>
                <div class="px-4 hover:bg-gray-800 cursor-pointer flex justify-between">
                    <div class="space-y-[1px]">
                        <div class="text-sm text-gray-500">Trending in Turkey</div>
                        <div class="font-bold uppercase">#squid</div>
                        <div class="text-sm text-gray-500">2,066 Tweets</div>
                    </div>
                    <i class="bi bi-three-dots text-xl"></i>
                </div>
                <div class="px-4 hover:bg-gray-800 cursor-pointer flex justify-between">
                    <div class="space-y-[1px]">
                        <div class="text-sm text-gray-500">Trending in Turkey</div>
                        <div class="font-bold uppercase">#squid</div>
                        <div class="text-sm text-gray-500">2,066 Tweets</div>
                    </div>
                    <i class="bi bi-three-dots text-xl"></i>
                </div>
                <div class="px-4 hover:bg-gray-800 cursor-pointer flex justify-between">
                    <div class="space-y-[1px]">
                        <div class="text-sm text-gray-500">Trending in Turkey</div>
                        <div class="font-bold uppercase">#squid</div>
                        <div class="text-sm text-gray-500">2,066 Tweets</div>
                    </div>
                    <i class="bi bi-three-dots text-xl"></i>
                </div>
                <button class="font-bold text-blue-500 px-4 pb-2">
                    show more
                </button>
            </div>
        </div>

        {{--  who to follow   --}}

        <div class="bg-[rgb(32,35,39)] rounded-xl">
            <div class="max-w-md mx-auto p-4">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-xl font-bold">Who to follow</h2>
                </div>

                <div class="space-y-4">
                    
                    <div class="flex justify-between items-center">
                        <div class="flex items-center space-x-3">
                        <img src="{{asset('image/nyt.png')}}" alt="new york times logo">
                            <div>
                                <div class="flex items-center gap-[3px]">
                                    <p class="capitalize text-sm">the new york times</p>
                                    <img src="{{ asset('icons/Verified.svg')}}" class="w-5 h-5" alt="cnn logo">
                                </div>
                                <p class="text-gray-500">@nytimes</p>
                            </div>
                        </div>
                        <button class="bg-white text-black px-4 py-1 rounded-full text-sm">
                            Follow
                        </button>
                        
                    </div>

                    <div class="flex justify-between items-center">
                        <div class="flex items-center space-x-3">
                        <img src="{{asset('image/cnn.png')}}" alt="CNN logo">
                            <div>
                               <div class="flex items-center gap-[3px]">
                                <p class="text-sm">CNN</p>
                                <img src="{{ asset('icons/Verified.svg')}}" class="w-5 h-5" alt="cnn logo">
                               </div>
                                <p class="text-gray-500 text-sm">@CNN</p>
                            </div>
                        </div>
                        <button class="bg-white text-black px-4 py-1 rounded-full text-sm">
                            Follow
                        </button>
                    </div>

                    <div class="flex justify-between items-center">
                        <div class="flex items-center space-x-3">
                        <img src="{{asset('image/twitter-logo.png')}}" alt="CNN logo">
                            <div>
                               <div class="flex items-center gap-[3px]">
                                <p class="text-sm">Twitter</p>
                                <img src="{{ asset('icons/Verified.svg')}}" class="w-5 h-5" alt="cnn logo">
                               </div>
                                <p class="text-gray-500 text-sm">@Twitter</p>
                            </div>
                        </div>
                        <button class="bg-white text-black px-4 py-1 rounded-full text-sm">
                            Follow
                        </button>
                    </div>
                </div>
                <div class="mt-4">
                    <a href="#" class="text-blue-500 hover:underline font-bold">Show more</a>
                </div>
            </div>
        </div>

        <div class="mt-4 text-xs text-gray-500 mx-5">
            <div class="flex flex-wrap gap-x-4 gap-y-1">
                <a href="#" class="hover:underline">Terms of Service</a>
                <a href="#" class="hover:underline">Privacy Policy</a>
                <a href="#" class="hover:underline">Cookie Policy</a>
                <a href="#" class="hover:underline">Imprint</a>
                <a href="#" class="hover:underline">Ads Info</a>
                <a href="#" class="hover:underline">More...</a>
                <span>&copy; 2021 Twitter, Inc.</span>
            </div>
        </div>
    </section>
</body>
</html>